.navMenuModal-opened {
    padding: 10px;
    position: absolute;
    bottom: 100px;
    height: 80%;
    width: 95%;
    box-shadow: 2px 2px 10px 2px rgb(0, 0, 0);
    border-radius: 17px;
    background-color: greenyellow;
    
}

@keyframes navMenuModal-fade-in {
    from {
        background-color: transparent;
        box-shadow: transparent;
    }
    to {
        background-color: greenyellow;
        box-shadow: 2px 2px 10px 2px rgb(0, 0, 0);
    }
}
.navMenuModal-opened {
    animation-name: navMenuModal-fade-in;
    animation-duration: .5s;
}

.navMenuModal-closed {
    padding: 10px;
    position: absolute;
    bottom: 100px;
    height: 80%;
    width: 95%;
    box-shadow: transparent;
    border-radius: 17px;
    background-color: transparent;
}

@keyframes navMenuModal-fade-out {
    from {
        background-color: greenyellow;
        box-shadow: 2px 2px 10px 2px rgb(0, 0, 0);
    }
    to {
        background-color: transparent;
        box-shadow: transparent;
    }
}

.navMenuModal-closed {
    animation-name: navMenuModal-fade-out;
    animation-duration: .5s;
}