.navMenuModal-opened {
    padding: 10px;
    position: absolute;
    bottom: 100px;
    height: 80%;
    width: 95%;
    box-shadow: 10px 10px 10px rgb(37, 3, 3);
    border-radius: 17px;
    background-color: greenyellow;
    
}

@keyframes navMenuModal-fade-in {
    from {
        background-color: transparent;
        box-shadow: transparent;
    }
    to {
        background-color: greenyellow;
        box-shadow: 10px 10px 10px rgb(37, 3, 3);
    }
}
.navMenuModal-opened, text {
    animation-name: navMenuModal-fade-in;
    animation-duration: .5s;
}

.navMenuModal-closed {
    padding: 10px;
    position: absolute;
    bottom: 100px;
    height: 80%;
    width: 95%;
    box-shadow: transparent;
    border-radius: 17px;
    background-color: transparent;
}

@keyframes navMenuModal-fade-out {
    from {
        background-color: greenyellow;
        box-shadow: 10px 10px 10px rgb(37, 3, 3);
    }
    to {
        background-color: transparent;
        box-shadow: transparent;
    }
}

.navMenuModal-closed, text {
    animation-name: navMenuModal-fade-out;
    animation-duration: .5s;
}