* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
    text-decoration: none;
}

#rootBody {
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    background-color: red;
}