#navBar {
    position: absolute;
    bottom: 0px;
    z-index: 9999;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: green;
    padding: 10px;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
}

#navBtns {
    font-size: 20px;
}

#appListModal {
    padding: 10px;
    position: absolute;
    bottom: 100px;
    height: 600px;
    width: 90%;
    box-shadow: 10px 10px 10px rgb(37, 3, 3);
    border-radius: 17px;
    background-color: blue;
}