.navAppListModal-opened {
    position: fixed;
    padding: 10px;
    bottom: 20%;
    height: 70%;
    width: 80%;
    box-shadow: 2px 2px 10px 2px rgb(0, 0, 0);
    border-radius: 25px;
    background-color: rgb(47, 255, 238);
}

@keyframes slideInFromButtom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.navAppListModal-opened {
    animation: .3s ease-out 0s slideInFromButtom;
}

.navAppListModal-closed {
    position: fixed;
    padding: 10px;
    bottom: 20%;
    height: 70%;
    width: 80%;
    box-shadow: transparent;
    border-radius: 25px;
    background-color: transparent;
}

@keyframes navAppListModal-fade-out {
    from {
        background-color: rgb(47, 255, 238);
        box-shadow: 2px 2px 10px 2px rgb(0, 0, 0);
    }
    to {
        background-color: transparent;
        box-shadow: transparent;
    }
}

.navAppListModal-closed {
    animation-name: navAppListModal-fade-out;
    animation-duration: .5s;
}

.navAppListModalOffClickClose {
    background-color: transparent;
    position: fixed;
    height: 100%;
    width: 100%;
}