.navAppListModal-opened {
    position: fixed;
    padding: 12px;
    top: 50px;
    bottom: 100px;
    width: 90%;
    box-shadow: 2px 2px 10px 2px rgb(0, 0, 0);
    border-radius: 25px;
    background-color: rgb(47, 255, 238);
}

@keyframes slideInFromButtom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.navAppListModal-opened {
    animation: .3s ease-out 0s slideInFromButtom;
}

.navAppListModal-closed {
    position: fixed;
    padding: 12px;
    top: 50px;
    bottom: 100px;
    width: 90%;
    box-shadow: transparent;
    border-radius: 25px;
    background-color: transparent;
}

@keyframes navAppListModal-fade-out {
    from {
        background-color: rgb(47, 255, 238);
        box-shadow: 2px 2px 10px 2px rgb(0, 0, 0);
    }
    to {
        background-color: transparent;
        box-shadow: transparent;
    }
}

.navAppListModal-closed {
    animation-name: navAppListModal-fade-out;
    animation-duration: .5s;
}



/* Styles for the DOMRefresh section element */
.navAppListModalOffClickClose-opened {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    height: 100%;
    width: 100%;
}

@keyframes navAppListModalOffClickClose-fade-in {
    from {
        background-color: transparent;
    }
    to {
        background-color: rgba(0, 0, 0, 0.8);
    }
}
.navAppListModalOffClickClose-opened {
    animation-name: navAppListModalOffClickClose-fade-in;
    animation-duration: .7s;
}

.navAppListModalOffClickClose-closed {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

@keyframes navAppListModalOffClickClose-fade-out {
    from {
        background-color: rgba(0, 0, 0, 0.8);
    }
    to {
        background-color: transparent;
    }
}

.navAppListModalOffClickClose-closed {
    animation-name: navAppListModalOffClickClose-fade-out;
    animation-duration: .5s;
}